.custom-calendar {
  width: 250px !important;
  border: none !important;
  background: #ced4dc !important;
}

/* Navigation area (month and year) */
.custom-calendar .react-calendar__navigation {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: auto;
  background: #ced4dc;
}

.custom-calendar .react-calendar__navigation button {
  min-width: 28px;
  background: none;
  font-size: 20px;
  color: #333;
}

.custom-calendar .react-calendar__navigation__label {
  font-weight: 500 !important;
  font-size: 13px !important;
  color: #333;
}

/* Weekday labels */
.custom-calendar .react-calendar__month-view__weekdays {
  font-size: 10px;
  color: #666;
  text-transform: uppercase;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 10px 0;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-weight: normal;
}

/* Calendar days */
.custom-calendar .react-calendar__month-view__days__day {
  font-size: 11px;
  padding: 0px;
  color: #333;
}

.custom-calendar .react-calendar__tile {
  padding: 10px 0;
  font-weight: normal;
  background: none;
}

/* Weekend days */
.custom-calendar .react-calendar__month-view__days__day--weekend:last-child {
  color: #2563eb;
}

/* Current day */
.custom-calendar .react-calendar__tile--now {
  background: #2563eb !important;
  color: white !important;
  border-radius: 4px;
}

/* Selected date */
.custom-calendar .react-calendar__tile--active {
  background: #223857 !important;
  color: white !important;
  border-radius: 4px;
}

/* Hover state */
.custom-calendar .react-calendar__tile:enabled:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* Neighboring month dates */
.custom-calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
}

/* Navigation arrows */
.custom-calendar .react-calendar__navigation__arrow {
  font-size: 20px;
  color: #666;
}

.event-day {
  position: relative;
  color: #31517e !important;
  border-radius: 6px !important;
}

.event-day::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #223857;
  border-radius: 50%;
}
