.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4; /* Light background */
  min-height: 100vh;
}

.calendarWrapper {
  background-color: #e2e8f0; /* Light grayish-blue */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.customCalendar {
  border: none; /* Remove default border */
  width: 100%;
}

.react-calendar__navigation button {
  color: #4a5568;
  background: none;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.react-calendar__navigation button:hover {
  color: #3182ce; /* Hover effect */
}

.react-calendar__tile {
  height: 50px;
  width: 50px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.react-calendar__tile--now {
  background: #bee3f8;
  color: #2b6cb0;
  font-weight: bold;
}

.react-calendar__tile--active {
  background: #3182ce;
  color: white;
  font-weight: bold;
}

.react-calendar__tile:hover {
  background: #ebf8ff;
  color: #3182ce;
}

.highlightedDate {
  background-color: #63b3ed !important; /* Highlight color */
  color: white !important;
  font-weight: bold;
}

.highlightedDate:hover {
  background-color: #3182ce !important;
}
