@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #e5e5e5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  font-family: "Poppins", system-ui;
}

.layout {
  display: flex;
  /* height: 100vh; */
  gap: 2rem;
}

.sidebar__wrapper {
  position: relative;
}

.sidebar {
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 20px;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.sidebar__logo {
  width: 30px;
  /* height: 3.5rem; */
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar__list {
  list-style: none;
  font-weight: 20px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar__list :hover {
  background-color: #ccc;
  /* color: #fff; */
  border-radius: 10px;
}

.sidebar__icon {
  font-size: 1.2rem;
  display: inline-block;
}
.sidebar__name {
  margin-left: 0.5rem;
  font-family: "Poppins", system-ui;
}

.sidebar__logo-name {
  width: 100px;
}

/* .btn {
  position: absolute;
  right: 0;
  top: 7.3rem;
  border: none;
  background-color: #05445e;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #05445e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  curser: pointer;
  color: #fff;
  transform: translateX(50%);
  font-size: 1.1rem;
} */

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.sidebar__wrapper {
  display: flex;
}

.sidebar {
  width: 85px;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar:hover {
  width: 240px;
}

.sidebar__top {
  text-align: center;
  margin: 20px 0;
}

.sidebar__logo {
  display: block;
  margin: 0 auto;
}

.sidebar__logo-name {
  display: none;
}

.sidebar__list {
  list-style: none;
  padding: 0;
}

.sidebar__item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.sidebar__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  color: #000;
  margin: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.sidebar__link:hover {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar__icon {
  margin-right: 10px;
}

.sidebar__name {
  display: none;
  transition: opacity 0.3s;
}

.sidebar:hover .sidebar__name {
  display: inline;
  opacity: 1;
}

.sidebar:hover .sidebar__logo-name {
  display: block;
}

/* App.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.letter {
  backgroundimage: `url("/assets/images/Dewatermark.png") `;
  backgroundrepeat: "no-repeat";
  backgroundposition: "center";
  objectfit: "cover";
  background: "#000";
}

/* dark theme */

/* Tailwind CSS Custom Classes */
.custom-checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 9999px;
  border-width: 4px;
  transition: right 0.2s;
  right: 0;
  position: relative;
}

.custom-checkbox:checked {
  right: 0;
  background-color: #000;
}
